rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read: if true;
    }
    match /admin/{user} {
      // Only edited in the Firebase Console for now
      allow read: if true;
    }
    match /domain/{url} {
      function isAdmin() {
        return request.auth != null && request.auth.token.email_verified && get(/databases/$(database)/documents/admin/$(request.auth.uid)).data.valid == 'true';
      }
      allow read: if true;
      allow write: if isAdmin();
    }
    match /dropSite/{site} {
      function isHCP() {
        return request.auth != null && request.auth.token.email_verified && get(/databases/$(database)/documents/domain/$(request.auth.token.email.split('@')[1])).data.valid == 'true';
      }
      allow read: if true;
      allow write: if isHCP();
    }
  }
}
