body {
  background: #fcfcfc;
  font-family: "Inter", sans-serif;
}
.entryportal {
  background-color: white;
  margin-top: 100px;
  width: 560px;
  border-radius: 5px;
  padding: 40px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
h1,
h2,
h3 {
  font-family: "Inter", sans-serif;
}
.logored {
  color: #ff584d !important;
}
.result {
  cursor: pointer;
}
.selected {
  background-color: #dee9fa;
}
.content {
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 1200px) {
  .panelFull {
    float: left;
    width: 100%;
  }
  .panel {
    float: left;
    width: 540px;
    margin-right: 50px !important;
  }
  .content {
    width: 1200px;
  }

  input#linkSubmit {
    width: 60%;
  }

  input#linkTitle {
    width: 30%;
  }
  .confirmationText,
  .errorText {
    float: left;
  }

  .hospitalNeedCard {
    width: 45%;
    margin-right: 5%;
    float: left;
  }

  .hospitalNeedsLeft {
    width: 70%;
    float: left;
  }
  .hospitalNeedNewSubmit {
    margin-top: 5px;
    float: right;
  }
}
@media only screen and (max-width: 1199px) {
  .panel {
    width: 100%;
    margin: 20px;
    margin-bottom: 50px !important;
  }
  .content {
    width: 100%;
  }

  input#linkSubmit {
    width: 100%;
  }

  input#linkTitle {
    width: 100%;
  }

  .hospitalNeedCard {
    width: 100%;
  }

  .hospitalNeedNewSubmit {
    margin-top: 20px;
    width: 100%;
    float: left;
  }
}
.panel,
.panelFull {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 30px;
  margin: 20px 0px;
  box-sizing: border-box;
  background-color: white;
}

.form {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 30px;
  margin: 30px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  background-color: white;
}

.group-label {
  font-size: 20px;
  font-weight: 400;
  margin: 10px;
  margin-top: 20px;
  margin-left: 0px;
}

.addbutton {
  margin-top: 10px;
}

ul.linksList {
  margin-top: 20px;
  list-style-type: none;
}

.linkSubmissionContainer {
  margin-top: 20px;
  padding-top: 20px;
  border-top: solid 1px #eee;
}

.linkSubmitGroup {
  width: 100%;
}

.submitLink {
  font-size: 12px;
  margin-bottom: 10px;
}

.linkSubmitBtn {
  margin-top: 2px;
}

input#linkSubmit,
input#linkTitle {
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  padding: 10px 10px;
  border-radius: 5px;
  float: left;
  color: #111;
}

.confirmationText,
.errorText {
  font-size: 12px;
  margin-top: 10px;
}

.confirmationText {
  color: #006400;
}

.errorText {
  color: red;
}

.loginContainer {
  text-align: center;
  margin-top: 50px;
}

.linksListLink {
  float: left;
}

.status {
  float: left;
  font-size: 10px;
  margin-left: 10px;
  margin-top: 5px;
}

.statusPublished {
  color: #006400;
  float: left;
}

.statusPending {
  color: red;
  float: left;
}

.modActions {
  float: left;
  margin-left: 20px;
}

.modActionBtn {
  margin-right: 5px;
}

.hospitalNeedsBtn {
  float: left;
}

.hospitalNeedsLink {
  margin-top: 8px;
  float: left;
  font-size: 14px;
}

.hospitalNeedCard {
  margin-bottom: 30px;
}

.hospitalNeedCard h5 {
  font-weight: bold;
}

.hospitalNeedsTopBar {
  float: left;
  width: 100%;
  border-bottom: solid 1px #eee;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.hospitalNeedNewSubmit,
.supplyInstructionsAddress,
.supplyInstructionsAddressForm {
  text-align: center;
  border: solid 1px #ccc;
  padding: 20px;
  border-radius: 5px;
  color: #fff;
  background-color: #333;
}

.supplyInstructionsAddressForm {
  float: left;
  width: 100%;
}

.supplyInstructionsAddressForm .addressText {
  font-size: 30px;
}

.hospitalNeedNewSubmit .helperText,
.supplyInstructionsAddress .helperText,
.supplyInstructionsAddressForm .helperText {
  font-size: 12px;
  margin-bottom: 5px;
}

.staffTable tbody th {
  font-weight: normal;
  font-size: 14px;
}

.staffNeedGroup {
  margin-bottom: 50px;
}

button:disabled {
  cursor: default;
}

.need-id {
  font-size: 12px;
  color: #888;
  float: right;
}

.statusSelectGroup {
  margin-left: 30px;
  float: left;
}

.statusSelectGroup select {
  font-size: 12px;
}

.formLabel {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.requestFormField {
  margin-bottom: 30px;
}

.requestSelectType {
  margin-bottom: 30px;
}

.formError {
  padding-top: 10px;
  padding-bottom: 30px;
  font-size: 12px;
  color: red;
}

.deleteRequest {
  margin-left: 10px;
  float: left;
}

.dropSiteIdText {
  float: left;
}

.servingText {
  margin-top: 8px;
  margin-left: 10px;
  font-size: 12px;
  float: left;
}

.dropSiteTitle {
  float: left;
  width: 100%;
}

.dropSiteDescription {
  float: left;
}
.dropSiteName {
  float: left;
}

.deliveryInstructions {
  width: 100%;
  float: left;
  margin-top: 20px;
  text-align: center;
}

.qtyInput {
  margin-bottom: 15px;
}

.deliveryLabels {
  background-color: #333;
  width: 300px;
  color: #fff;
  padding: 20px;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.deliveryLabels h4 {
  font-size: 16px;
}

.deliveryLabels h6 {
  font-size: 12px;
}
