@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: "Inter", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
