@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

html,
body,
#root,
.App {
  min-height: 100%;
}

/* large breakpoint */
@media screen and (min-width: 900px) {
  html,
  body,
  #root,
  .App {
    height: 100%;
  }
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
