@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

html,
body,
#root,
.App {
  height: 100%;
}

body {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
